.navbutton {
    border: none;
    border-radius: 5px;
    padding: 0.2em ;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #2c9caf;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 1px solid #2c9caf;
  }
  
  .navbutton:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  .navbutton::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .navbutton:hover::before {
    width: 250%;
  }
  .logo{
    transition: all 1000ms;
  }
  .logo:hover{
    transform: scale(1.1);
  }
  .logo::before{
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
    position: absolute;
  }