.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 30px;
    margin: auto;
    margin-top: 50px;
}
.mid_sec{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.child{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.child:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
   
}
.proName{
   margin-top: 2px;
   color: blue;
   font-size: 25px;
   font-weight: bold;
}
.techStack{
    color: blue;
    font-size: 17px;
    font-weight: bold;
 }
.proPara{
    font-size: 14px;
    padding:5px;
}
.icons{
    font-size: 25px;
}